@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: 'Sofia Sans';
  src: url('../public/assets/Sofia_Sans/static/SofiaSans-Thin.ttf'), 
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('../public/assets/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Thin.ttf'), 
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html {
  overflow: hidden;
  height: 100%;
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg {
  background:
    linear-gradient(
      rgba(101, 81, 104, 0.8), 
      rgba(101, 81, 104, 0.8)
    ),
    url("../public/BackgroundImage.jpeg");
  animation: pan-image 1200s linear infinite;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  position: relative;
}

@keyframes pan-image {  
  0% {
    background-position: 36% 42%;
    background-size: 100%;
  }
  
  20% {
    background-position: 30% 35%;
    background-size: 100%;
  }
  
  40% {
    background-position: 49% 81%;
    background-size: 250%;
  }
  
  60% {
    background-position: 84% 33%;
    background-size: 150%;
  }
    
  80% {
    background-position: 15% 4%;
    background-size: 150%;
  }
    
  100% {
    background-position: 72% 14%;
    background-size: 150%;
  }
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: ease-in-out;
}