@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: 'Sofia Sans';
  src: url('../public/assets/Sofia_Sans/static/SofiaSans-Thin.ttf'), 
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('../public/assets/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Thin.ttf'), 
}

html {
  overflow: hidden;
  height: 100%;
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg {
  background:
    linear-gradient(
      rgba(101, 81, 104, 0.8), 
      rgba(101, 81, 104, 0.8)
    ),
    url("../public/BackgroundImage.jpeg");
  animation: pan-image 120s linear infinite;
  background-repeat: repeat;
}

@keyframes pan-image {  
  0% {
    background-position: 36% 42%;
    background-size: 100%;
  }
  
  20% {
    background-position: 30% 35%;
    background-size: 100%;
  }
  
  20.0001% { /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 250%;
  }
  
  40% {
    background-position: 49% 81%;
    background-size: 250%;
  }
  
  40.0001% { /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 150%;
  }
  
  60% {
    background-position: 84% 33%;
    background-size: 150%;
  }
  
  60.0001% { /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 150%;
  }
  
  80% {
    background-position: 15% 4%;
    background-size: 150%;
  }
  
  80.0001% { /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 150%;
  }
  
  100% {
    background-position: 72% 14%;
    background-size: 150%;
  }
}

