@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: 'Sofia Sans';
  src: url('../public/assets/Sofia_Sans/static/SofiaSans-Thin.ttf'), 
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('../public/assets/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Thin.ttf'), 
}

body {
  margin: 0;
  padding: 0;
  background:
    linear-gradient(
      rgba(101, 81, 104, 0.8), 
      rgba(101, 81, 104, 0.8)
    ),
    url("../public/BackgroundImage.jpeg");
  background-size: 100% auto;
  background-repeat: repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

